<html>

<head>
    <title>Project Lightspeed</title>
    <link rel="icon" href="/imgs/logo.jpg">
    <link rel="stylesheet" href="/css/_header.scss" type="text/css">
    <link rel="stylesheet" href="/css/_footer.scss" type="text/css">
    <link rel="stylesheet" href="/css/home.scss" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <%- include('_header'); %>
        <main>
            <section>
                <div id="intro">
                    <div id="intro1">
                        <h1>PROJECT LIGHTSPEED</h1>
                        <p id="tagline">
                            A secure lightweight and robust tool to aid vaccine dehoarding pan-Earth. <br><br>
                            &numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp; 👨‍👩‍👦‍👦🧑‍🤝‍🧑🌍👭🏼👨‍👩‍👦‍👦
                        </p>
                        </span>
                    </div>
                    <div id="intro2">
                        <% if(!auth) {%>
                            <a href="/login"><input type="submit" name="" class="button" value="Join our community"></a>
                            <a href="/vaccine"><input type="submit" name="" class="button"
                                    value="Take me to the market"></a>
                            <% }else if(locals.user){ %>
                                <div id="user">
                                    <span>Vaccines available: &numsp; <%= user.vaccine.availibility %></span>
                                    <span>Vaccines needed: &numsp;&numsp;<%= user.vaccine.needed %></span>
                                    <span>Vaccines turnover: &numsp;<%= required %></span><br>
                                    <% if(required> 0) {%>
                                        <span>
                                            Awsome!! You are having more than enough vaccines.
                                            <br><a id="sell" href="/vaccine">Sell extra vaccines</a>
                                        </span>
                                        <% } else {%>
                                            <span>
                                                Uh Oh!! You don't have enough vaccines
                                                <br><a id="sell" href="/vaccine">Buy extra vaccines</a>
                                            </span>
                                            <%}%>
                                </div>
                                <%}%>
                    </div>
                </div>

                <div class="cards">
                    <div>
                        <img src="/imgs/database.png" alt="">
                        <h2>Warehouse Management</h2>
                        <h4 style="color: blue;">State of the art Warehouse Management System</h4>
                    </div>
                    <div>
                        <img src="/imgs/shield.png" alt="">
                        <h2>Secure Transactions</h2>
                        <h4 style="color: green;">Highly secure encrypted transaction framework</h4>
                    </div>
                    <div>
                        <img src="/imgs/feather.png" alt="">
                        <h2>Lightweight Deployment</h2>
                        <h4 style="color: rgb(207, 187, 0);">Loads even at the weakest connectivities</h4>
                    </div>
                    <div>
                        <img src="/imgs/layout.png" alt="">
                        <h2>Easy UI/UX</h2>
                        <h4 style="color: rgb(248, 147, 164);">Easy to follow User Interface</h4>
                    </div>
                </div>
                <br><br>
                <div class="features">
                    <h1>Types of Vaccines</h1>
                    <br><br>
                    <div id="feature_cards_section">
                        <div class="feature_cards">
                            <h1>Whole virus</h1>
                            <span class="card_info">
                                <span class="vaccines">Vaccines: Sinopharm, Sinovac</span><br>
                                <span class="vaccine_info">
                                    The whole virus vaccine uses a weakned or deactivated form
                                    of thepathogen that causes COVID-19 to trigger protective immunity to it.
                                    The vaccines use inactivated pathogens, therefore they cannot infect cells
                                    andreplicate, but can trigger an immune response
                                </span>
                            </span>
                        </div>
                        <div class="feature_cards">
                            <h1>Protein subunit</h1>
                            <span class="card_info">
                                <span class="vaccines">Vaccines: Pfizer-BioNTech, Moderna</span><br>
                                <span class="vaccine_info">
                                    The protein subunit vaccine contains purified “pieces” of a
                                    pathogen rather than the whole pathogen to trigger an immune response. It is thought
                                    that by restricting the immune system to the whole pathogen, the risk of side
                                    effects is minimised.

                                </span>
                            </span>
                        </div>
                        <div class="feature_cards">
                            <h1>Nucleic Vaccine </h1>
                            <span class="card_info">
                                <span class="vaccines">Vaccines: Oxford-AstraZeneca, Sputnik V</span><br>
                                <span class="vaccine_info">
                                    The COVID-19 RNA vaccine consists of mRNA molecules made in a lab that code for
                                    parts of the SARS-CoV-2 virus – specifically the virus’ spike protein. Once injected
                                    into the body, the mRNA instructs the cells to produce antigens.
                                </span>
                            </span>
                        </div>
                        <div class="feature_cards">
                            <h1>Viral vector</h1>
                            <span class="card_info">
                                <span class="vaccines">Vaccines: Novavax</span><br>
                                <span class="vaccine_info">
                                    This type of vaccine introduces a safe, modified version of the
                                    virus – known as “the vector” – to deliver genetic code for the antigen. In a
                                    COVID-19 vaccine, the “vector” is the spike proteins found on the surface of the
                                    coronavirus.

                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div id="about_us2">
                    <img id="about_img" src="/imgs/images.png" alt="">
                    <div id="about_text">
                        <h1>ABOUT US</h1>
                        <ul>
                            <li> COVID 19 turned the world as we knew it upside down. With vaccines being produced to
                                restore the
                                balance to the havoc created, the distribution and its roll-out is rather a difficult
                                process.
                            </li>
                            <br><br>
                            <li>
                                This International Vaccine Distribution project deals with the transfer of the different
                                vaccines amongst the differnet countries with heavy focus on human values and equitable
                                distribution of available resources.
                            </li>
                        </ul>
                    </div>
                    <img id="about_img" src="/imgs/images.jpeg" alt="">
                </div>
                <br><br>
            </section>
        </main>
        <%- include('_footer'); %>
</body>

</html>