<html>

<head>
    <title>Project Lightspeed</title>
    <link rel="icon" href="/imgs/logo.jpg">
    <link rel="stylesheet" href="/css/_header.scss" type="text/css">
    <link rel="stylesheet" href="/css/_footer.scss" type="text/css">
    <link rel="stylesheet" href="/css/transaction.scss" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <%- include('_header'); %>
        <main>
            <aside id="aside_1">
                <img id="country_flag" src="/imgs/<%= req_user.country %>.jpg">
                <div><%= req_user.country %></div>
                <br>
                <div><%= req_user.vaccine.name %></div>
            </aside>
            <aside id="aside_2">
                <form action="/vaccine/transaction_req" method="POST">
                    <h1>Vaccine Order</h1>
                    <div>Request To: &numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;<input type="text" placeholder="Requestee" name="req_from" value="<%= req_user.username %>" required></div>
                    <div>Request From: &numsp;&numsp;&numsp;&numsp;&numsp;<input type="text" placeholder="Requesting from" name="req_to" value="<%= user.username%>" required></div>
                    <div>Vaccines available: &numsp;&numsp;<%= req_user.vaccine.extra %></div>
                    <div>Price/dose: &numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;INR <%= req_user.vaccine.price %></div>
                    <div>Shipping charges: &numsp;&numsp;&numsp;<input type="number" placeholder="Vaccine amount" name="shipping" value="20" required></div>
                    <div>Vaccines Required: &numsp;&numsp;<input type="number" placeholder="Vaccine amount" name="req_vac" required></div>
                    <input type="submit" name="" class="button" value="Request vaccines">
                </form>
            </aside>
        </main>
</body>

</html>