<html>

<head>
  <title>Project Lightspeed</title>
  <link rel="icon" href="/imgs/logo.jpg">
  <link rel="stylesheet" href="/css/_header.scss" type="text/css">
  <link rel="stylesheet" href="/css/_footer.scss" type="text/css">
  <link rel="stylesheet" href="/css/vaccine.scss" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <%- include('_header'); %>
    <main>
      <div class="container">

        <div class="table">
          <div class="table-header">
            <div class="header__item"><a id="country" class="filter__link" href="#">Country</a></div>
            <div class="header__item"><a id="name" class="filter__link filter__link--number" href="#">Vaccine Name</a>
            </div>
            <div class="header__item"><a id="type" class="filter__link filter__link--number" href="#">Vaccine Type</a>
            </div>
            <div class="header__item"><a id="excess" class="filter__link filter__link--number" href="#">Excess
                Vaccines</a></div>
            <div class="header__item"><a id="price" class="filter__link filter__link--number" href="#">Vaccine Price</a>
            </div>
          </div>
          <div class="table-content">
            <% users.forEach(function(user){ %>
              <% if(user.vaccine.extra> 0){ %>
                <a class="table-row vaccine_hover" href="/vaccine/<%= user.vaccine.name %>">
                  <div class="table-data">
                    <%= user.country%>
                  </div>
                  <div class="table-data">
                    <%= user.vaccine.name %>
                  </div>
                  <div class="table-data">
                    <%= user.vaccine.vaccine_type%>
                  </div>
                  <div class="table-data">
                    <%= user.vaccine.extra %>
                  </div>
                  <div class="table-data">
                    <%= user.vaccine.price %>
                  </div>
                </a>
                <%}})%>
          </div>
        </div>
      </div>
      </div>
      <br><br><br><br>
      <div class="container">
        <% if(auth) {%>
          <div class="table">
            <h3>Pending Transaction Requests</h3>
            <div class="table-header" style="height: 6vh;">
              <div class="header__item"><a id="country" class="filter__link" href="#">Vaccine</a></div>
              <div class="header__item"><a id="country" class="filter__link" href="#">Request From</a></div>
              <div class="header__item"><a id="name" class="filter__link filter__link--number" href="#">Request To</a>
              </div>
              <div class="header__item"><a id="type" class="filter__link filter__link--number" href="#">Amount of
                  vaccines
                  Requested</a>
              </div>
              <div class="header__item"><a id="excess" class="filter__link filter__link--number" href="#">Transaction
                  Amount</a></div>
              <div class="header__item"><a id="price" class="filter__link filter__link--number" href="#">Transaction
                  Action</a>
              </div>
            </div>
            <div class="table-content">
              <% allTransactions.forEach(function(transacs){ %>
                <% if((transacs.req_from==user.username || transacs.req_to==user.username) && (transacs.transaction_status == 'Awaiting confirmation')){%>
                  <div class="table-row vaccine_hover">
                    <div class="table-data">
                      <%= transacs.vaccine%>
                    </div>
                    <div class="table-data">
                      <%= transacs.req_to%>
                    </div>
                    <div class="table-data">
                      <%= transacs.req_from %>
                    </div>
                    <div class="table-data">
                      <%= transacs.amt_req%>
                    </div>
                    <div class="table-data">
                      <%= transacs.transaction_value %>
                    </div>
                    <div class="table-data">
                      <% if(user.username==transacs.req_from) {%>
                        <div>
                          <a style="margin-right: 1vw;" href="/vaccine/accept/<%= transacs._id%>">&#9989;</a>
                          <a href="/vaccine/decline/<%= transacs._id%>">&#10060;</a>
                        </div>
                        <%} else if(user.username==transacs.req_to) {%>
                          <%= transacs.transaction_status %>
                            <% } %>
                    </div>
                  </div>
                  <%}})%>
            </div>
          </div>
          <% } %>

            <br><br><br><br>
            <div class="container">
              <% if(auth) {%>
                <div class="table">
                  <h3>Pending Transaction Requests</h3>
                  <div class="table-header" style="height: 6vh;">
                    <div class="header__item"><a id="country" class="filter__link" href="#">Vaccine</a></div>
                    <div class="header__item"><a id="country" class="filter__link" href="#">Request From</a></div>
                    <div class="header__item"><a id="name" class="filter__link filter__link--number" href="#">Request
                        To</a></div>
                    <div class="header__item"><a id="type" class="filter__link filter__link--number" href="#">Amount of
                        vaccines Requested</a>
                    </div>
                    <div class="header__item"><a id="excess" class="filter__link filter__link--number"
                        href="#">Transaction Amount</a></div>
                    <div class="header__item"><a id="price" class="filter__link filter__link--number"
                        href="#">Transaction Action</a>
                    </div>
                  </div>
                  <div class="table-content">
                    <% allTransactions.forEach(function(transacs){ %>
                      <% if(((transacs.transaction_status=='accepted' ) || (transacs.transaction_status=='declined' ))&&
                        (transacs.req_from==user.username || transacs.req_to==user.username)) {%>
                        <div class="table-row vaccine_hover">
                          <div class="table-data">
                            <%= transacs.vaccine%>
                          </div>
                          <div class="table-data">
                            <%= transacs.req_to%>
                          </div>
                          <div class="table-data">
                            <%= transacs.req_from %>
                          </div>
                          <div class="table-data">
                            <%= transacs.amt_req%>
                          </div>
                          <div class="table-data">
                            <%= transacs.transaction_value %>
                          </div>
                          <div class="table-data">
                            <%= transacs.transaction_status %>
                          </div>
                        </div>
                        <%}})%>
                  </div>
                </div>
                <% } %>

    </main>

    <script>
      var properties = [
        'country',
        'excess',
        'price',
      ];

      $.each(properties, function (i, val) {

        var orderClass = '';

        $("#" + val).click(function (e) {
          e.preventDefault();
          $('.filter__link.filter__link--active').not(this).removeClass('filter__link--active');
          $(this).toggleClass('filter__link--active');
          $('.filter__link').removeClass('asc desc');

          if (orderClass == 'desc' || orderClass == '') {
            $(this).addClass('asc');
            orderClass = 'asc';
          } else {
            $(this).addClass('desc');
            orderClass = 'desc';
          }

          var parent = $(this).closest('.header__item');
          var index = $(".header__item").index(parent);
          var $table = $('.table-content');
          var rows = $table.find('.table-row').get();
          var isSelected = $(this).hasClass('filter__link--active');
          var isNumber = $(this).hasClass('filter__link--number');

          rows.sort(function (a, b) {

            var x = $(a).find('.table-data').eq(index).text();
            var y = $(b).find('.table-data').eq(index).text();

            if (isNumber == true) {

              if (isSelected) {
                return x - y;
              } else {
                return y - x;
              }

            } else {

              if (isSelected) {
                if (x < y) return -1;
                if (x > y) return 1;
                return 0;
              } else {
                if (x > y) return -1;
                if (x < y) return 1;
                return 0;
              }
            }
          });

          $.each(rows, function (index, row) {
            $table.append(row);
          });

          return false;
        });

      });
    </script>
</body>

</html>